@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p {
  margin: 0; }

ul,
ol {
  list-style: none; }

html {
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  display: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%; }

::selection {
  background-color: #9b0f28;
  color: #ddd; }

h1 > span {
  text-decoration: underline;
  color: #9b0f28; }

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: bold; }

body {
  font-family: "Montserrat Alternates"; }

a {
  font-family: "Poppins";
  font-weight: bold;
  text-decoration: none; }

.oscurecer {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh; }

.fondo-principal {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  background-image: url("../img/fondo-principal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .fondo-principal h2,
  .fondo-principal .ver-mas {
    z-index: 10;
    text-align: center; }
  .fondo-principal .ver-mas {
    position: absolute;
    bottom: 0; }
    .fondo-principal .ver-mas p {
      margin-bottom: 0;
      color: #dc143c;
      font-weight: 700; }
    .fondo-principal .ver-mas a {
      color: inherit;
      font-size: 1.3rem; }

.waves {
  background-image: url("../img/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.waves-2 {
  background-image: url("../img/wave-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cartel, .cartel-2 {
  padding: 3em 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cartel a, .cartel-2 a {
  margin-top: 10px;
  color: #9b0f28; }

.cartel {
  background-color: #9b0f28;
  color: #ffffff; }

.cartel-2 {
  background-color: #dddddd;
  color: #9b0f28;
  margin-top: 100px; }

.btn {
  background-color: #dddddd;
  border-radius: 100vw; }

.btn-outline-danger:hover,
.btn-danger:hover {
  box-shadow: 0 0 1em #dc143c; }

header {
  background-color: rgba(155, 15, 40, 0.8);
  backdrop-filter: blur(0.5em); }
  header .logo {
    width: 65px;
    height: 28px;
    color: #ffffff; }
  header .navbar-toggler {
    border: 0; }

.section .card {
  width: 15rem;
  margin: 1rem auto;
  background-color: #dddddd;
  border: 0;
  border-radius: 10px; }
  .section .card .card-title {
    font-size: 1.2rem; }
  .section .card .card__icons {
    text-align: center;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto; }
    .section .card .card__icons i {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #9b0f28; }

.card-footer a {
  font-weight: 400;
  cursor: not-allowed; }

.form {
  background-color: #dddddd;
  max-width: 650px;
  margin: auto; }

label span {
  font-weight: bolder;
  color: #9b0f28; }

.svg-form {
  max-width: 650px;
  margin: auto; }

.footer {
  background-color: #9b0f28;
  color: #ffffff; }
  .footer .footer__icons a {
    color: #ffffff;
    font-size: 1.3rem;
    padding: 10px; }
    .footer .footer__icons a:hover {
      color: #dddddd; }
  .footer h5 {
    font-size: 1rem;
    padding: 0; }

@media only screen and (min-width: 768px) {
  .about {
    width: 70%; } }

.img-fluid,
.card-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin: auto; }

@media only screen and (min-width: 630px) {
  .img-fluid,
  .card.img {
    width: 9rem;
    height: 9rem; } }

.colab {
  color: #ffffff; }

.waves.curri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.img-perfil {
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  object-fit: cover; }

@media only screen and (min-width: 540px) {
  .curri .card {
    width: 75%; } }

@media only screen and (min-width: 660px) {
  .curri .card {
    width: 50%; } }

@media only screen and (min-width: 768px) {
  .curri .card {
    width: 75%; } }
