@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p {
  margin: 0; }

ul,
ol {
  list-style: none; }

html {
  scroll-behavior: smooth; }

html::-webkit-scrollbar {
  display: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%; }

::selection {
  background-color: #9b0f28;
  color: #ddd; }

h1 > span {
  text-decoration: underline;
  color: #9b0f28; }

h1, h2, h3, h4, h5 {
  font-family: "Poppins";
  font-weight: bold; }

body {
  font-family: "Montserrat Alternates"; }

a {
  font-family: "Poppins";
  font-weight: bold;
  text-decoration: none; }

.oscurecer {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh; }

.fondo-principal {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  background-image: url("../img/fondo-principal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .fondo-principal h2,
  .fondo-principal .ver-mas {
    z-index: 10;
    text-align: center; }
  .fondo-principal .ver-mas {
    position: absolute;
    bottom: 0; }
    .fondo-principal .ver-mas p {
      margin-bottom: 0;
      color: #dc143c;
      font-weight: 700; }
    .fondo-principal .ver-mas a {
      color: inherit;
      font-size: 1.3rem; }

.waves {
  background-image: url("../img/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.waves-2 {
  background-image: url("../img/wave-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cartel, .cartel-2 {
  padding: 3em 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cartel a, .cartel-2 a {
  margin-top: 10px;
  color: #9b0f28; }

.cartel {
  background-color: #9b0f28;
  color: #ffffff; }

.cartel-2 {
  background-color: #dddddd;
  color: #9b0f28;
  margin-top: 100px; }

.btn {
  background-color: #dddddd;
  border-radius: 100vw; }

.btn-outline-danger:hover,
.btn-danger:hover {
  box-shadow: 0 0 1em #dc143c; }

header {
  background-color: rgba(155, 15, 40, 0.8);
  backdrop-filter: blur(0.5em); }
  header .logo {
    width: 65px;
    height: 28px;
    color: #ffffff; }
  header .navbar-toggler {
    border: 0; }

.section .card {
  width: 15rem;
  margin: 1rem auto;
  background-color: #dddddd;
  border: 0;
  border-radius: 10px; }
  .section .card .card-title {
    font-size: 1.2rem; }
  .section .card .card__icons {
    text-align: center;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto; }
    .section .card .card__icons i {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #9b0f28; }

.card-footer a {
  font-weight: 400;
  cursor: not-allowed; }

.form {
  background-color: #dddddd;
  max-width: 650px;
  margin: auto; }

label span {
  font-weight: bolder;
  color: #9b0f28; }

.svg-form {
  max-width: 650px;
  margin: auto; }

.footer {
  background-color: #9b0f28;
  color: #ffffff; }
  .footer .footer__icons a {
    color: #ffffff;
    font-size: 1.3rem;
    padding: 10px; }
    .footer .footer__icons a:hover {
      color: #dddddd; }
  .footer h4 {
    font-size: 1rem;
    margin-bottom: 5px; }

@media only screen and (min-width: 768px) {
  .about {
    width: 70%; } }

.img-fluid,
.card-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin: auto; }

@media only screen and (min-width: 630px) {
  .img-fluid,
  .card.img {
    width: 9rem;
    height: 9rem; } }

.colab {
  color: #ffffff; }

.waves.curri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.img-perfil {
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  object-fit: cover; }

@media only screen and (min-width: 540px) {
  .curri .card {
    width: 75%; } }

@media only screen and (min-width: 660px) {
  .curri .card {
    width: 50%; } }

@media only screen and (min-width: 768px) {
  .curri .card {
    width: 75%; } }

.body-404 {
  background-color: #dc143c;
  font-family: "Poppins"; }

.box {
  width: 350px;
  height: 90%;
  max-height: 600px;
  min-height: 450px;
  background: #9b0f28;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px; }
  .box .box__ghost {
    padding: 15px 25px 25px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%); }
    .box .box__ghost .symbol:nth-child(1) {
      opacity: .2;
      animation: shine 4s ease-in-out 3s infinite; }
      .box .box__ghost .symbol:nth-child(1):before, .box .box__ghost .symbol:nth-child(1):after {
        content: '';
        width: 12px;
        height: 4px;
        background: #ffffff;
        position: absolute;
        border-radius: 5px;
        bottom: 65px;
        left: 0; }
      .box .box__ghost .symbol:nth-child(1):before {
        transform: rotate(45deg); }
      .box .box__ghost .symbol:nth-child(1):after {
        transform: rotate(-45deg); }
    .box .box__ghost .symbol:nth-child(2) {
      position: absolute;
      left: -5px;
      top: 30px;
      height: 18px;
      width: 18px;
      border: 4px solid;
      border-radius: 50%;
      border-color: #ffffff;
      opacity: .2;
      animation: shine 4s ease-in-out 1.3s infinite; }
    .box .box__ghost .symbol:nth-child(3) {
      opacity: .2;
      animation: shine 3s ease-in-out .5s infinite; }
      .box .box__ghost .symbol:nth-child(3):before, .box .box__ghost .symbol:nth-child(3):after {
        content: '';
        width: 12px;
        height: 4px;
        background: #ffffff;
        position: absolute;
        border-radius: 5px;
        top: 5px;
        left: 40px; }
      .box .box__ghost .symbol:nth-child(3):before {
        transform: rotate(90deg); }
      .box .box__ghost .symbol:nth-child(3):after {
        transform: rotate(180deg); }
    .box .box__ghost .symbol:nth-child(4) {
      opacity: .2;
      animation: shine 6s ease-in-out 1.6s infinite; }
      .box .box__ghost .symbol:nth-child(4):before, .box .box__ghost .symbol:nth-child(4):after {
        content: '';
        width: 15px;
        height: 4px;
        background: #ffffff;
        position: absolute;
        border-radius: 5px;
        top: 10px;
        right: 30px; }
      .box .box__ghost .symbol:nth-child(4):before {
        transform: rotate(45deg); }
      .box .box__ghost .symbol:nth-child(4):after {
        transform: rotate(-45deg); }
    .box .box__ghost .symbol:nth-child(5) {
      position: absolute;
      right: 5px;
      top: 40px;
      height: 12px;
      width: 12px;
      border: 3px solid;
      border-radius: 50%;
      border-color: #ffffff;
      opacity: .2;
      animation: shine 1.7s ease-in-out 7s infinite; }
    .box .box__ghost .symbol:nth-child(6) {
      opacity: .2;
      animation: shine 2s ease-in-out 6s infinite; }
      .box .box__ghost .symbol:nth-child(6):before, .box .box__ghost .symbol:nth-child(6):after {
        content: '';
        width: 15px;
        height: 4px;
        background: #ffffff;
        position: absolute;
        border-radius: 5px;
        bottom: 65px;
        right: -5px; }
      .box .box__ghost .symbol:nth-child(6):before {
        transform: rotate(90deg); }
      .box .box__ghost .symbol:nth-child(6):after {
        transform: rotate(180deg); }
    .box .box__ghost .box__ghost-container {
      background: #ffffff;
      width: 100px;
      height: 100px;
      border-radius: 100px 100px 0 0;
      position: relative;
      margin: 0 auto;
      animation: upndown 3s ease-in-out infinite; }
      .box .box__ghost .box__ghost-container .box__ghost-eyes {
        position: absolute;
        left: 15%;
        top: 45%;
        height: 12px;
        width: 70px; }
        .box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-left {
          width: 12px;
          height: 12px;
          background: #9b0f28;
          border-radius: 50%;
          margin: 0 10px;
          position: absolute;
          left: 0; }
        .box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-right {
          width: 12px;
          height: 12px;
          background: #9b0f28;
          border-radius: 50%;
          margin: 0 10px;
          position: absolute;
          right: 0; }
      .box .box__ghost .box__ghost-container .box__ghost-bottom {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0; }
        .box .box__ghost .box__ghost-container .box__ghost-bottom div {
          flex-grow: 1;
          position: relative;
          top: -10px;
          height: 20px;
          border-radius: 100%;
          background-color: #ffffff; }
          .box .box__ghost .box__ghost-container .box__ghost-bottom div:nth-child(2n) {
            top: -12px;
            margin: 0 -0px;
            border-top: 15px solid #9b0f28;
            background: transparent; }
    .box .box__ghost .box__ghost-shadow {
      height: 20px;
      box-shadow: 0 50px 15px 5px rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      margin: 0 auto;
      animation: smallnbig 3s ease-in-out infinite; }
  .box .box__description {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }
    .box .box__description .box__description-container {
      color: #ffffff;
      text-align: center;
      width: 200px;
      font-size: 16px;
      margin: 0 auto; }
      .box .box__description .box__description-container .box__description-title {
        font-size: 24px;
        letter-spacing: .5px; }
      .box .box__description .box__description-container .box__description-text {
        color: #ffffff;
        line-height: 20px;
        margin-top: 20px; }
    .box .box__description .box__button {
      display: block;
      position: relative;
      background: #FF5E65;
      border: 1px solid transparent;
      border-radius: 50px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      line-height: 50px;
      font-size: 18px;
      padding: 0 70px;
      white-space: nowrap;
      margin-top: 25px;
      transition: background .5s ease;
      overflow: hidden;
      mask-image: -webkit-radial-gradient(white, black); }
      .box .box__description .box__button:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 100px;
        background: #ffffff;
        bottom: -25px;
        left: 0;
        border: 2px solid #ffffff;
        transform: translateX(-50px) rotate(45deg);
        transition: transform .5s ease; }
      .box .box__description .box__button:hover {
        background: transparent;
        border-color: #ffffff; }
        .box .box__description .box__button:hover:before {
          transform: translateX(250px) rotate(45deg); }

@keyframes upndown {
  0% {
    transform: translateY(5px); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(5px); } }

@keyframes smallnbig {
  0% {
    width: 90px; }
  50% {
    width: 100px; }
  100% {
    width: 90px; } }

@keyframes shine {
  0% {
    opacity: .2; }
  25% {
    opacity: .1; }
  50% {
    opacity: .2; }
  100% {
    opacity: .2; } }
