@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
html::-webkit-scrollbar {
    display: none;
}
::selection {
    background-color: #9b0f28;
    color: #ddd;
}

.oscurecer {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
}
.fondo-principal {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/fondo-principal.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
}
.fondo-principal > h2,
.ver-mas {
    z-index: 10;
    text-align: center;
}
.ver-mas {
    position: absolute;
    bottom: 0;
}
.ver-mas > p {
    margin-bottom: 0;
    color: crimson;
    font-weight: 700;
}
.ver-mas > a {
    color: white;
    font-size: 1.3rem;

}


header {
    background-color: rgba(155, 15, 40, 0.8);
    backdrop-filter: blur(.5em);
}
.logo {
    width: 65px;
    color: #fff;
}
.navbar-toggler {
    border: 0;
}

h1 > span {
    text-decoration: underline;
    color: #9b0f28;
}

/* GENERAL */
.btn {
    background-color: #ddd;
    border-radius: 100vw;
}



/* CARDS */
.section .card {
    width: 15rem;
    margin: 1rem auto;
    background-color: #ddd;
    border: 0;
    border-radius: 10px;
}
.card__icons {
    text-align: center;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.card__icons > i {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #9b0f28;
}

/* CARTEL */
.cartel {
    background-color: #9b0f28;
    color: #fff;
    font-weight: 700;
}
.cartel > a {
    color: #9b0f28;
    font-family: 'Poppins', sans-serif;
}
.cartel-2 {
    background-color: #ddd;
    color: #9b0f28;
    font-weight: 700;
    margin: 100px 0 0;
}
.cartel-2 > a {
    background-color: #9b0f28;
}


/* PROYECTOS */
.waves {
    background-image: url("./img/wave-2.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-position-x: center;
    background-size: cover;
}
.waves-2 {
    background-image: url("./img/wave-header.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 50px;
}
.text-muted {
    cursor: default;
}
.card-footer > a {
    color: #9b0f28;
    cursor: not-allowed;
}
.colab {
    color: #fff;
}

/* ABOUT */
.card > .card-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin: auto;
}


.footer {
    background-color: #9b0f28;
    color: #fff;
}
.footer__icons a {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}
.footer__icons a:hover {
    color: #ddd;
}
.footer::selection {
    background-color: #ddd;
    color: #9b0f28;
}