$main-colors: (
  primary: #9b0f28,
  secondary: #dddddd,
  accent: #dc143c,
  blanco: #ffffff,
  negro: #333,
  ghost-pink: #ff5e65
);

$rounded: 100vw;
$border: 1px solid map-get($main-colors, accent);

$smooth: all 200ms ease-in-out;

$shadow-btn: 0 0 1em map-get($main-colors, accent);
$shadow: 0 0 1em rgba(0,0,0,0.3);

$y3: 3em 0;