$primary-color: #9b0f28;
$secondary-color: #ddd;
$accent-color: #dc143c;

$rounded: 100vw;
$border: 1px solid $accent-color;

$smooth: all 200ms ease-in-out;

$shadow-btn: 0 0 1em $accent-color;
$shadow: 0 0 1em rgba(0,0,0,0.3);

$y3: 3em 0;
$x3: 0 3em;
$y5: 5em 0;
$x5: 0 5em;