@media only screen and (min-width: 768px) {
  .about {
    width: 70%;
  }
}

.img-fluid,
.card-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin: auto;
}


@media only screen and (min-width: 630px) {
  .img-fluid,
  .card.img {
    flex-grow: 3;
  }
}
