.oscurecer {
  position: absolute;
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100vw;
  height: 100vh;
}
.fondo-principal {
  width: 100vw;
  height: 100vh;
  background-color: map-get($main-colors, negro);
  background-image: url("../img/fondo-principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: map-get($main-colors, blanco);
  @include flexColumn;
  h2,
  .ver-mas {
    z-index: 10;
    text-align: center;
  }
  .ver-mas {
    position: absolute;
    bottom: 0;
    p {
      margin-bottom: 0;
      color: map-get($main-colors, accent);
      font-weight: 700;
    }
    a {
      color: inherit;
      font-size: 1.3rem;
    }
  }
}