.form {
  background-color: map-get($main-colors, secondary);
  max-width: 650px;
  margin: auto;
}
label {
  span {
    font-weight: bolder;
    color: map-get($main-colors, primary);
  }
}
.svg-form {
  max-width: 650px;
  margin: auto;
}