.cartel {
  background-color: $primary-color;
  color: $white;
  padding: $y3;
  @include flexColumn;
  a {
    margin-top: 10px;
    color: $primary-color;
  }
}

.cartel-2 {
  background-color: $secondary-color;
  color: $primary-color;
  @include flexColumnSpace ($sb);
  text-align: center;
  padding: $y3;
  a {
    margin-top: 10px;
    background-color: $primary-color;
  }
}