.cartel {
  background-color: $primary-color;
  color: $white;
  padding: $y3;
  font-weight: $font-bold;
  @include flexColumn;
  a {
    margin-top: 10px;
    color: $primary-color;
  }
}

.cartel-2 {
  background-color: $secondary-color;
  color: $primary-color;
  @include flexColumn;
  font-weight: $font-bold;
  padding: $y3;
  margin-top: 100px;
  a {
    margin-top: 10px;
    background-color: $primary-color;
  }
}