%action {
  padding: $y3;
  font-weight: bold;
  @include flexColumn;
}
%actionA {
  margin-top: 10px;
  color: map-get($main-colors, primary);
}

.cartel {
  @extend %action;
  background-color: map-get($main-colors, primary);
  color: map-get($main-colors, blanco);
  a {
    @extend %actionA;
  }
}

.cartel-2 {
  @extend %action;
  background-color: map-get($main-colors, secondary);
  color: map-get($main-colors, primary);
  margin-top: 100px;
  a {
    @extend %actionA;
  }
}