.footer {
  background-color: map-get($main-colors, primary);
  color: map-get($main-colors, blanco);
  .footer__icons {
    a {
      color: map-get($main-colors, blanco);
      font-size: 1.3rem;
      padding: 10px;
      &:hover {
        color: map-get($main-colors, secondary);
      }
    }
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
