header {
  background-color: rgba($color: map-get($main-colors, primary), $alpha: 0.8);
  backdrop-filter: blur(.5em);
  .logo {
    width: 65px;
    height: 28px;
    color: map-get($main-colors, blanco);
  }
  .navbar-toggler {
    border: 0;
  }
}
