@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Poppins:wght@400;700&display=swap');

$fonts: (
  title: 'Poppins',
  body: 'Montserrat Alternates'
);

h1, h2, h3, h4, h5 {
  font-family: map-get($fonts, title);
  font-weight: bold;
}
body {
  font-family: map-get($fonts, body);
}
a {
  font-family: map-get($fonts, title);
  font-weight: bold;
  text-decoration: none;
}